
header {
    display: flex;
    justify-content: center;
    font-family: 'Knewave';
  font-weight: strong;
  font-size: 70px;
  color: white;

}

body {
    background-color: black;
}

container {
    margin: 0 auto;
    position: absolute;
    text-align: center;
    height: 570px;
    left: 300px;
    top: 120px;
    width: 950px;
    border-color: yellow;
    border-style: solid;
    background-color: orange;
    
}

#Object {

}

#Lives {

}

#LGrave {

}

#Hints {

}

#WCat {

}

#GuessBx {

}