
header {
    display: flex;
    justify-content: center;

}

container {
    height: 450px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
        height: 550px;
        left: 400px;
        top: 10%;
    width: 750px;
      border-color: orange;
    border-style: solid;
    
}

#Object {

}

#Lives {

}

#LGrave {

}

#Hints {

}

#WCat {

}

#GuessBx {

}